<div th:fragment="navigation">
	<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
		<button type="button" id="main-menu-toggle">
			<i class="navbar-icon fa fa-bars icon"></i>
			<span class="hide-menu-text">隐藏菜单</span>
		</button>
		<div class="navbar-inner">
			<div class="navbar-header">
				<a href="#" class="navbar-brand" style="font-size: 22px;">
					采芝林数据中心
				</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
					<i class="navbar-icon fa fa-bars"></i>
				</button>
			</div>
		</div>
	</div>
</div>
