<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.paohe.user.dao.IDeveloperMapper">

    <!-- 查询角色用户信息 -->
    <select id="queryUserList" resultType="cn.paohe.entity.vo.user.UserEntityVo" parameterType="cn.paohe.entity.vo.user.UserEntityVo">
        SELECT
        u.`APPLICATION_ID` as applicationId,
        a.`APPLICATION_NAME` as applicationName,
        u.`ACCOUNT` AS account,
        u.`USER_ID` AS userId,
        u.`P_USER_ID` AS parentUserId,
        u.`PASSWORD` AS `password`,
        u.`USER_NAME` AS userName,
        u.`USE_NAME` AS useName,
        u.`PHONE` AS phone,
        u.`EMAIL` AS email,
        u.`ALIVE_FLAG` AS aliveFlag,
        u.`ADD_USER_ID` AS addUserId,
        u.`ADD_TIME` AS `addTime`,
        u.`OPR_USER_ID` AS oprUserId,
        u.`OPR_TIME` AS oprTime
        FROM user_info u
        LEFT JOIN role_user r ON u.`USER_ID` = r.`USER_ID`
        LEFT JOIN application_info a ON u.`APPLICATION_ID` = a.`APPLICATION_ID`
        WHERE 1 = 1
        <if test="aliveFlag != null">
            and u.`ALIVE_FLAG` = #{aliveFlag}
        </if>
        <if test="parentUserId != null ">
            and u.`P_USER_ID` = #{parentUserId}
        </if>
        <if test="roleId != null ">
            and r.`ROLE_ID` = #{roleId}
        </if>
        <if test="userName != null and userName != ''">
            and u.`USER_NAME` LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="useName != null and useName != ''">
            and u.`USE_NAME` LIKE CONCAT('%',#{useName},'%')
        </if>
        <if test="account != null and account != ''">
            and u.`ACCOUNT` LIKE CONCAT('%',#{account},'%')
        </if>
        <if test="applicationName != null and applicationName != ''">
            and a.`APPLICATION_NAME` LIKE CONCAT('%',#{applicationName},'%')
        </if>
    </select>
</mapper>