<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.paohe.interface_management.dao.IAppSourceInterMapper">
    <sql id="Base_Column_List">
    	a.`ID` as id ,
        a.`APPLICATION_ID` as applicationId,
        a.`DATA_SOURCE_ID` as dataSourceId,
        a.`INTERFACE_ID` as interfaceId,
        a.`ALIVE_FLAG` AS aliveFlag,
        a.`ADD_USER_ID` AS addUserId,
        a.`ADD_TIME` AS `addTime`,
        a.`OPR_USER_ID` AS oprUserId,
        a.`OPR_TIME` AS oprTime
	</sql>

    <select id="queryCountAppSourceInterList" resultType="cn.paohe.entity.vo.interfaceMag.AppSourceInterInfoVo" parameterType="cn.paohe.entity.vo.interfaceMag.AppSourceInterInfoVo">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        d.`DATA_SOURCE_NAME` as dataSourceName,
        count(a.`APPLICATION_ID`) as interfaceCount
        FROM `app_source_inter` a
        LEFT JOIN data_source_info d ON a.`DATA_SOURCE_ID` = d.`DATA_SOURCE_ID`
        WHERE 1 = 1
        <if test="aliveFlag != null">
            AND a.`ALIVE_FLAG` = #{aliveFlag}
        </if>
        <if test="addUserId != null">
            AND a.`ADD_USER_ID` = #{addUserId}
        </if>
        <if test="applicationId != null">
            AND a.`APPLICATION_ID` = #{applicationId}
        </if>
        <if test="dataSourceId != null">
            AND a.`DATA_SOURCE_ID` = #{dataSourceId}
        </if>
        <if test="dataSourceName != null">
            AND d.`DATA_SOURCE_NAME` = #{dataSourceName}
        </if>
        GROUP BY a.`DATA_SOURCE_ID`
        ORDER BY a.`ADD_TIME` DESC
    </select>

    <select id="queryAppSourceInterList" resultType="cn.paohe.entity.vo.interfaceMag.AppSourceInterInfoVo" parameterType="cn.paohe.entity.vo.interfaceMag.AppSourceInterInfoVo">
        SELECT
        <include refid="Base_Column_List"/>,
        d.`DATA_SOURCE_NAME` as dataSourceName,
        p.ROUTER_PATH as routerPath,
        i.`INTERFACE_NAME` as interfaceName,
        t.`TYPE_NAME` as typeName,
        l.`LABEL_NAME` as labelName,
        i.`URL` as url
        FROM `app_source_inter` a
        LEFT JOIN application_info p ON a.`APPLICATION_ID` = p.`APPLICATION_ID`
        LEFT JOIN data_source_info d ON a.`DATA_SOURCE_ID` = d.`DATA_SOURCE_ID`
        LEFT JOIN interface_info i ON a.`DATA_SOURCE_ID` = i.`DATA_SOURCE_ID` AND a.`INTERFACE_ID` = i.`INTERFACE_ID`
        LEFT JOIN interface_type_info t ON i.`TYPE_ID` = t.`TYPE_ID`
        LEFT JOIN interface_label_info l ON i.`LABEL_ID` = l.`LABEL_ID`
        WHERE 1 = 1
        <if test="aliveFlag != null">
            AND a.`ALIVE_FLAG` = #{aliveFlag}
        </if>
        <if test="addUserId != null">
            AND a.`ADD_USER_ID` = #{addUserId}
        </if>
        <if test="applicationId != null">
            AND a.`APPLICATION_ID` = #{applicationId}
        </if>
        <if test="dataSourceId != null">
            AND a.`DATA_SOURCE_ID` = #{dataSourceId}
        </if>
        <if test="interfaceName != null">
            AND i.`INTERFACE_NAME` LIKE CONCAT('%',#{interfaceName},'%')
        </if>
        <if test="typeName != null">
            AND t.`TYPE_NAME` LIKE CONCAT('%',#{typeName},'%')
        </if>
        <if test="labelName != null">
            AND l.`LABEL_NAME` LIKE CONCAT('%',#{labelName},'%')
        </if>
        ORDER BY a.`ADD_TIME` DESC
    </select>

     <select id="addDataSourceList" parameterType="cn.paohe.entity.vo.interfaceMag.AppSourceInterInfoVo" resultType="cn.paohe.entity.model.InterfaceMag.DataSourceInfo">
         select
          d.`DATA_SOURCE_ID` as dataSourceId,
          d.`DATA_SOURCE_NAME` as dataSourceName,
          d.`DATA_SOURCE_CODE` as dataSourceCode,
          d.`ALIVE_FLAG` as aliveFlag,
          d.`ADD_USER_ID` as addUserId,
          d.`ADD_TIME` as addTime,
          d.`OPR_TIME` as oprTime,
          d.`OPR_USER_ID` as oprUserId
        from
          data_source_info d
          where not exists (select * from app_source_inter a where a.`DATA_SOURCE_ID` = d.`DATA_SOURCE_ID` and a.`APPLICATION_ID` = #{applicationId})
         <if test="addUserId != null">
             AND d.`ADD_USER_ID` = #{addUserId}
         </if>
         <if test="aliveFlag != null">
             AND d.`ALIVE_FLAG` = #{aliveFlag}
         </if>
         <if test="interfaceName != null">
             AND d`DATA_SOURCE_NAME` LIKE CONCAT('%',#{dataSourceName},'%')
         </if>
     </select>
</mapper>