<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.paohe.interface_management.dao.IInterfaceMapper" >
	<sql id="Base_Column_List" >
    	i.`INTERFACE_ID` as interfaceId,
	    i.`INTERFACE_NAME` as interfaceName,
	    i.`APPLICATION_ID` as applicationId,
	    a.`APPLICATION_NAME` as applicationName,
	    a.`APPLICATION_CODE` as applicationCode,
	    i.`DATA_SOURCE_ID` as dataSourceId,
	    d.`DATA_SOURCE_NAME` as dataSourceName,
	    i.`TYPE_ID` as typeId,
	    t.`TYPE_NAME` as typeName,
	    i.`LABEL_ID` as labelId,
	    l.`LABEL_NAME` as labelName,
	    i.`URL` as url,
	    i.`HEADER_INFO` as headerInfo,
	    i.`BODY_INFO` as bodyInfo,
	    i.`RESPONSE_INFO` as responseInfo,
	    i.`DESCRIPTION` as description,
	    i.`SECRET_KEY` as secretKey,
	    i.`START_TIME` as startTime,
	    i.`END_TIME` as endTime,
	    i.`ALIVE_FLAG` as aliveFlag,
	    i.`ADD_USER_ID` as addUserId,
	    i.`ADD_TIME` as `addTime`,
	    i.`OPR_USER_ID` as oprUserId,
	    i.`OPR_TIME` as oprTime
	</sql>

	<!-- 根据ID查询接口信息 -->
	<select id="queryInterfaceById" resultType="cn.paohe.entity.vo.interfaceMag.InterfaceInfoVo" parameterType="cn.paohe.entity.vo.interfaceMag.InterfaceInfoVo">
		SELECT
			<include refid="Base_Column_List"/>
		FROM interface_info i
		LEFT JOIN application_info a ON i.`APPLICATION_ID` = a.`APPLICATION_ID`
		LEFT JOIN data_source_info d ON i.`DATA_SOURCE_ID` = d.`DATA_SOURCE_ID`
		LEFT JOIN interface_type_info t ON i.`TYPE_ID` = t.`TYPE_ID`
		LEFT JOIN interface_label_info l ON i.`LABEL_ID` = l.`LABEL_ID`
		WHERE i.`INTERFACE_ID` = #{interfaceId}
	</select>

	<select id="queryInterfaceList" resultType="cn.paohe.entity.vo.interfaceMag.InterfaceInfoVo" parameterType="cn.paohe.entity.vo.interfaceMag.InterfaceInfoVo">
		SELECT
			<include refid="Base_Column_List"/>
		FROM interface_info i
		LEFT JOIN application_info a ON i.`APPLICATION_ID` = a.`APPLICATION_ID`
		LEFT JOIN data_source_info d ON i.`DATA_SOURCE_ID` = d.`DATA_SOURCE_ID`
		LEFT JOIN interface_type_info t ON i.`TYPE_ID` = t.`TYPE_ID`
		LEFT JOIN interface_label_info l ON i.`LABEL_ID` = l.`LABEL_ID`
		WHERE 1 = 1
		<if test="aliveFlag != null">
			AND i.`ALIVE_FLAG` = #{aliveFlag}
		</if>
		<if test="addUserId != null">
			AND i.`ADD_USER_ID` = #{addUserId}
		</if>
		<if test="secretKey != null and secretKey != ''">
			AND i.`SECRET_KEY` = #{secretKey}
		</if>
		<if test="applicationId != null">
			AND i.`APPLICATION_ID` = #{applicationId}
		</if>
		<if test="dataSourceId != null">
			AND i.`DATA_SOURCE_ID` = #{dataSourceId}
		</if>
		<if test="interfaceName != null and interfaceName != ''">
			AND i.`INTERFACE_NAME` LIKE CONCAT('%',#{interfaceName},'%')
		</if>
		<if test="applicationName != null and applicationName != ''">
			AND a.`APPLICATION_NAME` LIKE CONCAT('%',#{applicationName},'%')
		</if>
		<if test="applicationCode != null and applicationCode != ''">
			AND a.`APPLICATION_CODE` LIKE CONCAT('%',#{applicationCode},'%')
		</if>
		<if test="dataSourceName != null and dataSourceName != ''">
			AND d.`DATA_SOURCE_NAME` LIKE CONCAT('%',#{dataSourceName},'%')
		</if>
		<if test="typeId != null">
			AND i.`TYPE_ID` = #{typeId}
		</if>
		<if test="typeName != null and typeName != ''">
			AND t.`TYPE_NAME` LIKE CONCAT('%',#{typeName},'%')
		</if>
		<if test="labelId != null">
			AND i.`LABEL_ID` = #{labelId}
		</if>
		<if test="labelName != null and labelName != ''">
			AND l.`LABEL_NAME` LIKE CONCAT('%',#{labelName},'%')
		</if>
		<if test="startTime != null">
			<![CDATA[ AND i.`START_TIME` >= #{startTime} ]]>
		</if>
		<if test="endTime != null">
			<![CDATA[ AND i.`START_TIME` <= #{endTime} ]]>
		</if>
		 ORDER BY i.`ADD_TIME` DESC
	</select>

	<update id="updateInterfaceDateById" parameterType="cn.paohe.entity.model.InterfaceMag.InterfaceInfo">
		update interface_info set `START_TIME` = #{startTime},
	    `END_TIME` = #{endTime} where INTERFACE_ID = #{interfaceId}
	</update>
</mapper>